#!/usr/bin/env bash

alias sudo='sudo ' # Enable aliases to be sudo’ed https://github.com/mathiasbynens/dotfiles/blob/master/.aliases#L45

## DIRECTORIES
alias cdc="cd $CODE" # Change directory to $CODE (main projects folder)
alias cdd="cd $DOTS"
alias cdp="cdc" # Change directory to $CODE (main projects folder)

## CONFIGS
alias a="code $DOTS/.aliases" # Open aliases in VSCode
alias b="code $DOTS/.bashrc" # Open bashrc in VSCode
alias bt-vue="code $CODE/bt-vue" # Open personal project bt-vue in VSCode
alias css='code ~/Library/Application\ Support/Code/User/vscode.css' # Open CSS file for VSCode "Custom CSS and JS Loader" Extension https://github.com/be5invis/vscode-custom-css
alias dots="code $DOTS" # Open dotfiles in VSCode
alias e="code $DOTS/.exports" # Open exports in VSCode
alias f="code $DOTS/.functions" # Open _functions in VSCode
alias gitconfig="git config -e --global" # Open .gitconfig file in VSCode
alias gitignore="code $DOTS/.gitignore" # Open .gitignore file in VSCode
alias hosts='code /private/etc/hosts' # Open hosts file in VSCode
alias ideas="code $CODE/misc/code-ideas.txt" # Open ideas file in VSCode
alias notifications='open /private/var/folders/bl/qdmrp0jd71z545k9zkd8ncqm0000gn/0/com.apple.notificationcenter/db2/db'
alias omz="code $DOTS/.oh-my-zsh" # Open oh-my-zsh config in VSCode
alias openwith='defaults read com.apple.LaunchServices/com.apple.launchservices.secure'
alias p10k="p9k" # Open powerlevel10k config in VSCode
alias p9k="code $DOTS/.powerlevel10k" # Alias of p10k
alias paths='code /etc/paths' # Open paths in VSCode
alias shells='code /etc/shells' # Open shells in VSCode
alias z="code $DOTS/.zshrc" # Open zshrc in VSCode

## COMMANDS
alias brewls='brew list --versions $(brew leaves)' # List top-level Homebrew formulae, `brew help leaves` for detail
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias colortest=". $DOTS/colortest.sh"
alias dated='npm outdated' # List outdated local NPM packages
alias gpgls='gpg --list-secret-keys --keyid-format LONG' # List gpg keys
alias lscleanup='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder' # Clean up LaunchServices to remove duplicates in the “Open With” menu
alias npmls='npm ls -gs --depth=0' # List global NPM packages, ignore annoying peer dep warnings
alias parent="printf '$(ps -p $PPID)\n'" # Print parent process
alias ql='sudo qlmanage -p &> /dev/null' # Open file in Quick Look
alias r=". ~/.zshrc" # reload zshrc
alias rebuildspotlight='sudo mdutil -E /' # Rebuild entire Spotlight index
alias remotes="git remote -v | column -t" # Pretty-print remotes
alias resetlaunchpad='defaults write com.apple.dock ResetLaunchPad -bool true && killall Dock' # reset Launchpad to its default order
alias s=". $DOTS/.aliases; . $DOTS/.functions" # Source commonly edited files
alias symls='ls -lhaF | grep ^l' # List symlinks in current directory
alias wake='pmset -g assertions | grep Prevent' # List processes keeping mac awake
